.AboutUs {
    width: 100%;
    text-align: center;
}

.AboutUs__h2 {
    font-family: var(--titulo-oswald);
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.AboutUs__textos {
    display: flex;
    flex-direction: column;
}

.AboutUs__p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.AboutUs__a {
    margin: auto;
    padding: 10px 30px;
    flex-grow: 0;
    color: var(--color-amarillo-claro);
    background-color: var(--color-negro);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}