.Precios {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    padding: 2rem 1.3rem;
    color: var(--color-blanco);
}

.Precios__textos {
    text-align: center;
    margin-bottom: 2rem;
}

.Precios__h2 {
    font-family: var(--titulo-oswald);
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--color-amarillo);
    margin-bottom: 1rem;
}

.Precios__p {
    color: var(--color-blanco);
    font-size: 1.1rem;
    margin-bottom: 25px;
}

.Precios__planes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    position: relative;
}